<section id="contact-us">
    <h1 class="ct-h1" data-aos="fade-up" data-aos-duration="3000">
        What we're all about
    </h1>
    <p class="ct-p" data-aos="fade-up" data-aos-duration="3000">
        We believe in delivering the very best <br> experience to each and every customer.
    </p>
    <button class="btn-contact" data-aos="fade-up" data-aos-duration="3000">Contact Us</button>

    <div id="last-side">

        <div class="side-S">
            <p class="fs" data-aos="fade-up" data-aos-duration="3000">We work hard and have fun, too.</p>
            <h1 class="fd" data-aos="fade-up" data-aos-duration="3000">A few of our favorite things:</h1>
        </div>
        <ul class="block--things">


            <li data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <img src="https://res.cloudinary.com/delivery-com/image/fetch/f_auto/https%3A%2F%2Fs3.amazonaws.com%2Fs3.delivery.com%2Fabout-us%2FCulture%2Bsection%2Bphotos%2FCulture%2Bphoto%2B1.png"
                    alt="">
                <p class="side-text">NYC waterfront views</p>
            </li>

            <li data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <img src="https://res.cloudinary.com/delivery-com/image/fetch/f_auto/https%3A%2F%2Fs3.amazonaws.com%2Fs3.delivery.com%2Fabout-us%2FCulture%2Bsection%2Bphotos%2FCulture%2Bphoto%2B2.png"
                    alt="">
                <p class="side-text">Free food</p>
            </li>

            <li data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <img src="https://res.cloudinary.com/delivery-com/image/fetch/f_auto/https%3A%2F%2Fs3.amazonaws.com%2Fs3.delivery.com%2Fabout-us%2FCulture%2Bsection%2Bphotos%2FCulture%2Bphoto%2B3.png"
                    alt="">
                <p class="side-text">Happy hours</p>

            </li>
            <li data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
                <img src="https://res.cloudinary.com/delivery-com/image/fetch/f_auto/https%3A%2F%2Fs3.amazonaws.com%2Fs3.delivery.com%2Fabout-us%2FCulture%2Bsection%2Bphotos%2FCulture%2Bphoto%2B4.png"
                    alt="">
                <p class="side-text">Team outings</p>
            </li>
        </ul>
    </div>
</section>