<section id="footer">

    <iframe width="642" height="450" src="https://www.youtube.com/embed/cNOKQIw81SE" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen class="frames">
    </iframe>


    <ul class="footer__list_1">
        <li class="footer__itens">Company</li>
        <li class="footer__itens">About</li>
        <li class="footer__itens">Brands & Contries</li>
        <li class="footer__itens">Investor Relations</li>
    </ul>

    <ul class="footer__list_2">
        <li class="footer__itens">News</li>
        <li class="footer__itens">Blog</li>
        <li class="footer__itens">Newsroom</li>
    </ul>

    <ul class="footer__list_3">
        <li class="footer__itens">Get in Touch</li>
        <li class="footer__itens">Contact</li>
        <li class="footer__itens">Careers</li>
    </ul>

    <p class="copyes">Copyright &copy; WF-Delivrety </p>

    <ul class="footer__list_4">
        <li class="footer__itens">Find us on :</li>
        <i class="bi bi-whatsapp"></i>
        <i class="bi bi-facebook"></i>
        <i class="bi bi-instagram"></i>
        <i class="bi bi-twitter"></i>
        <i class="bi bi-linkedin"></i>
    </ul>

</section>
