<section id="home-page">
    <nav class="menu">
        <img src="./assets/logo.png" alt="" class="logo animate__animated animate__fadeInLeft">

        <%- include('./menu.ejs') %> 
    </nav>


    <div id="typed-h1">
        <h1 id="typed-line"></h1>
    </div>

    <img class="animate__animated animate__bounce  animate__infinite  animate__slow 2s" src="./assets/g8204.png"
        alt="" id="imagem-principal">

</section>