<div class="nav-item animate__animated animate__fadeInRight">
    <a href="#home-page" class="itens" id="nav-item-fundo">home</a>
    <a href="#about-us" class="itens" id="nav-item-fundo">about us</a>
    <a href="#contact-us" class="itens" id="nav-item-fundo">contact us</a>
</div>
